<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro de Clientes</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="itemForm.get('name')?.hasError('required')">
            Nome é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Idade</mat-label>
          <input matInput type="number" formControlName="age" required>
          <mat-error *ngIf="itemForm.get('age')?.hasError('required')">
            Idade é obrigatória
          </mat-error>
          <mat-error *ngIf="itemForm.get('age')?.hasError('min')">
            Idade mínima é 0
          </mat-error>
          <mat-error *ngIf="itemForm.get('age')?.hasError('max')">
            Idade máxima é 120
          </mat-error>
        </mat-form-field>

<!-- Radio Buttons para Gênero -->
<div class="full-width">
  <mat-label>Gênero</mat-label>
  <mat-radio-group formControlName="genero" required>
    <mat-radio-button value="Masculino">Masculino</mat-radio-button>
    <mat-radio-button value="Feminino">Feminino</mat-radio-button>
  </mat-radio-group>
</div>

<!-- Select de Estados -->
<mat-form-field appearance="fill" class="full-width">
  <mat-label>Estado</mat-label>
  <mat-select formControlName="estado" required>
    <mat-option *ngFor="let estado of estadosBrasileiros" [value]="estado.sigla">
      {{estado.nome}} ({{estado.sigla}})
    </mat-option>
  </mat-select>
</mat-form-field>



<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <!-- ... outros campos do formulário ... -->

  <mat-checkbox formControlName="aceitaTermos" color="primary">
    Aceito os termos de uso
  </mat-checkbox>

  <mat-error *ngIf="itemForm.get('aceitaTermos')?.invalid && itemForm.get('aceitaTermos')?.touched">
    Você deve aceitar os termos para continuar
  </mat-error>

  
</form>
        <div class="button-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="!itemForm.valid">
            Salvar
          </button>
          <button mat-raised-button type="button" (click)="onCancel()">
            Cancelar
          </button>
        </div>

     </form>

    </mat-card-content>
  </mat-card>
</div>
